<div class="comments">
  <div>
    <div class="card">
      <div class="card-header row col-12">
          <h2 class="col-6">{{blogs.title}}</h2>
          <h2 class="col-6">posted by {{blogs.user.username}} on {{blogs.date_created}}</h2>
      </div>
      <div class="card-body">
          <p class="card-text">{{blogs.description}}</p>
      </div>
    </div>
  </div>
  <div>
    <form class="comment-form">
      <input name="comment-body"></input>
      <button type="submit">Add comment</button>
    </form>
  </div>
  <div>
    {{#each comments}}
      <div class="card">
        <h3 class="card-header"></h3>
        <section class="comment card-body">
            <div class="text">
                {{blogs.comments.description}}
            </div>
            <div class="meta">
                {{blogs.user.username}}, {{blogs.comments.date_created}}
            </div>
        </section>
      </div>
      {{/each}}
  </div>
</div>
<script src="./js/comment.js"></script>
